<template>
  <div class = 'dashboard'>
    <h1 class="subheading grey--text">Dashboard</h1>
    <v-container class="my-5">
        <v-layout row class="mb-3">
            <v-btn small flat color="grey" @click="sortBy('title')">
                <v-icon left small>folder</v-icon>
                <span class="caption text-lowercase">By Project Name</span>
            </v-btn>
            <v-btn small flat color="grey" @click="sortBy('person')">
                <v-icon left small>person</v-icon>
                <span class="caption text-lowercase">By Person</span>
            </v-btn>
        </v-layout>
        <v-card flat  v-for="project in projects" :key="project.title">
            <v-layout row wrap :class="`pa-3 project ${project.status}`">
                <v-flex xs12 md6>
                    <div class="caption grey--text">Project Title</div>
                    <div class="">
                        {{project.title}}
                    </div>
                </v-flex>
                <v-flex xs6 sm4 md2 >
                    <div class="caption grey--text">Person</div>
                    <div class="">
                        {{project.person}}
                    </div>
                </v-flex>
                <v-flex xs6 sm4 md2 >
                    <div class="caption grey--text">Due By</div>
                    <div class="">
                        {{project.due}}
                    </div>
                </v-flex>
                <v-flex xs2 sm4 md2 >
                    <div class="right">
                        <v-chip small :class="`${project.status} white--text caption my-2`">{{project.status}}</v-chip>
                    </div>
                </v-flex>
            </v-layout>
            <v-divider></v-divider>
        </v-card>
    </v-container>
    <!--<v-btn class="pink white--text">Click Me</v-btn>
     <v-btn dark depressed color="pink">Click Me</v-btn>
    <v-btn flat color="pink">Click Me</v-btn>

    <v-btn depressed class="pink white--text">

        <v-icon left>email</v-icon>
        <span>Email me </span>
    </v-btn>

    <v-btn depressed small class="pink white--text">

        <v-icon left small >email</v-icon>
        <span>Email me </span>
    </v-btn>
    <v-btn fab depressed small dark color ="indigo">
        <v-icon>favorite</v-icon>
    </v-btn> -->
  </div>
</template>

<script>

 export default {
     data(){
         return {
             projects: [
        { title: 'Design a new website', person: 'The Net Ninja', due: '1st Jan 2019', status: 'ongoing', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Code up the homepage', person: 'Chun Li', due: '10th Jan 2019', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Design video thumbnails', person: 'Ryu', due: '20th Dec 2018', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Create a community forum', person: 'Gouken', due: '20th Oct 2018', status: 'overdue', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
      ]
         }
     },
     methods:{
         sortBy(prop){
             this.projects.sort((a,b) => a[prop] < b[prop] ? -1 :1)
         }
     }
  }
</script>

<style>
.project.complete{
    border-left:4px solid #3cd1c2
}
.project.ongoing{
    border-left:4px solid #FFA500
}
.project.overdue{
    border-left:4px solid #FF6347
}

.v-chip.complete{
    background:  #3cd1c2
}
.v-chip.ongoing{
    background:  #FFA500
}
.v-chip.overdue{
    background:  #FF6347
}

</style>
