<template>
<div class='entityCard'>

    <v-container class="my-5">
        <v-layout row wrap>
            <v-flex xs12 sm6 md4 lg4>
                <v-card flat class="text-xs-center ma-3 rounded-card" min-height="40%" min-width="90%">
                    <div class="title-div">
                        <v-card-title primary-title class="headline justify-center font-weight-medium white--text ">
                            <span>Pythagorean Theorem</span>
                        </v-card-title>
                        <v-chip class="formulaClass" theme-light style="margin-top: -10px; ">
                            <div class="font-weight-light" :key="formula" v-html="data"></div>
                        </v-chip>
                    </div>
                    <v-card-text>
                        <v-tabs grow flat color="blue darken-2">
                            <v-tabs-slider color="orange"></v-tabs-slider>
                            <v-tab  class="body-1 grey--text text--lighten-2">
                                <v-icon left>mdi-account</v-icon>
                                About
                                </v-tab>
                                <v-tab-item>
                                    <v-card flat>
                                        <v-card-text >
                                            <v-carousel v-model="carouselIndex" class="mb-2" max="90%" show-arrows="false" :cycle="false" dark hide-delimiters="false">
                                                <v-carousel-item class="body-1" v-for="(item,i) in items" :key="i">
                                                    <v-card-text class="body-1 pa-4 my-4 content " width="80%">
                                                        <div>{{item.desc}}</div>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn flat color="blue" round>
                                                            <v-icon small>link</v-icon>
                                                            <a :href="items[carouselIndex].srcLink" target="_blank">{{items[carouselIndex].src}}</a>
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-carousel-item>
                                            </v-carousel>
                                        </v-card-text>
                                    </v-card>
                                </v-tab-item>
                            </v-tabs>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    components: {
        // 'vue-mathjax': VueMathjax
    },
    data() {
        return {
            carouselIndex: 0,
            entitycard:{
                "confidence":"100.0",
                "descriptions":[
                    {
                        "description":"Test description",
                        "source_link":"url",
                        "source_name":"Wikipedia"

                    }
                ],
                "formulas":[
                    {
                        "fomula":"$a^2+b^2=c^2$",
                        "id":"6"
                    }
                ],
                "title":"Pythagorean Theorem"
            },
            data: "$x^2+y^2$",
            items: [{
                    desc: 'A mathematical theorem which states that the square of the length of the hypotenuse of a right triangle is equal to the sum of the squares of those of the two other sides.',
                    src: " Wikitionary",
                    srcLink: "https://en.wiktionary.org/wiki/Pythagorean_theorem"

                },
                {
                    desc: "The Pythagorean equation is the Diophantine equation:$x^2 + y^2 = z^2$ where $x, y, z$ are integers such that $x, y, z > 0$. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                    src: " Proof Wiki",
                    srcLink: "https://proofwiki.org/wiki/Definition:Pythagorean_Equation"
                }
            ]
        }
    }
}
</script>
<style >
.rounded-card {
    border-radius: 20px;
}
.content{
    height:250px;
    overflow:auto;
}
.v-carousel {
    box-shadow: none !important;
    width: 100%;
    height:200px !important;
    /* height:250px; */
}
.v-btn .v-btn__content .v-icon {
    color: orange;
    font-size: 20px !important;
}
.v-card-title {
    background: #2196f3 !important;
}
.v-card__text {
    padding: 0px !important;
}
.v-chip {
    border: 3px solid #2196f3;
    padding: 4px 12px;
    background-color: #F8F8F8 !important;

}

.title-div {
    width: 100%;
    height: 60%;
    background: #1E88E5 !important;
}
</style>
