<template>
  <div class = 'projects'>
    <h1 class="subheading grey--text">Projects</h1>
    <v-container class="my-5">
        content
    </v-container>
    <!--<v-btn class="pink white--text">Click Me</v-btn>
     <v-btn dark depressed color="pink">Click Me</v-btn>
    <v-btn flat color="pink">Click Me</v-btn>

    <v-btn depressed class="pink white--text">

        <v-icon left>email</v-icon>
        <span>Email me </span>
    </v-btn>

    <v-btn depressed small class="pink white--text">

        <v-icon left small >email</v-icon>
        <span>Email me </span>
    </v-btn>
    <v-btn fab depressed small dark color ="indigo">
        <v-icon>favorite</v-icon>
    </v-btn> -->
  </div>
</template>

<script>

 export default {
  }
</script>
