<template>
<div class='team'>
    <h1 class="subheading grey--text">Math Summary Cards</h1>
    <v-container class="my-5">
        <v-layout row wrap>
            <v-flex xs12 sm6 md4 lg4 v-for="result in results" :key="result.title">
                <v-card flat class="text-xs-center ma-3 rounded-card" min-height="50%" min-width="70%">

                    <v-card-title primary-title>
                        <div>
                            <h3 class="title mb-2" title>{{result.title}}</h3>
                            <v-chip class="formulaClass" theme-light>
                                <div class="mb-2" :key="formula" v-html="result.formula"></div>
                            </v-chip>
                            <v-divider class="ma-3"></v-divider>
                            <div> {{result.desc}}</div>
                        </div>
                    </v-card-title>

                    <v-card-actions>
                        <template v-if="result.more">
                            <v-btn icon @click="result.show =!result.show">
                                <v-text class="pa-3">More</v-text>
                                <v-icon>{{show ? 'keyboard_arrow_up':'keyboard_arrow_down'}} </v-icon>
                            </v-btn>

                        </template>
                        <v-spacer></v-spacer>
                        <v-btn flat color="blue" round>
                            <v-icon small>link</v-icon>
                            <a :href="result.srcLink" target="_blank">Source</a>
                        </v-btn>

                    </v-card-actions>

                    <v-slide-y-transition>
                        <v-card-text v-show="result.show">
                            <v-list-tile-title>Examples : </v-list-tile-title>
                            <v-list-tile-sub-title v-for="subItem in result.example" :key="subItem.eg" class="text-xs-center">
                                <a :href="subItem.egLink" target="_blank"> {{ subItem.eg }}</a>
                                <!-- <v-list-tile-sub-title  ></v-list-tile-sub-title> -->
                            </v-list-tile-sub-title>
                        </v-card-text>
                    </v-slide-y-transition>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>

    <v-container class="my-5">
        <v-layout row wrap>
            <v-flex xs12 sm6 md4 lg4>
                <v-card flat class="text-xs-center ma-3 rounded-card" min-height="40%" min-width="90%">
                    <div class="title-div">
                        <v-card-title primary-title class="headline justify-center font-weight-medium white--text ">
                            <span>Pythagorean Theorem</span>
                        </v-card-title>
                        <v-chip class="formulaClass" theme-light style="margin-top: -10px; ">
                            <div class="font-weight-light" :key="formula" v-html="data"></div>
                        </v-chip>
                    </div>
                    <v-card-text>
                    <v-tabs v-model="tab" grow flat color="blue darken-2">
                        <v-tabs-slider color="orange"></v-tabs-slider>
                        <v-tab class="body-1 grey--text text--lighten-2" v-for="i in tabs" :key="i" :href="`#tab-${i}`">
                            {{i}}
                        </v-tab>
                        <v-tab-item v-for="i in tabs" :key="i" :value="'tab-' + i">
                            <v-carousel v-model="carouselIndex" class="mb-2" max="90%" height="200" show-arrows=false :cycle="false" dark hide-delimiters="false">
                                <v-carousel-item class="body-1" v-for="(item,i) in items" :key="i">
                                    <v-card-text class="body-1 pa-4 my-4" width="80%">
                                        <!-- <p>Tab Index - {{i}}</p> -->
                                        <!-- <p>Tab Index - {{carouselIndex}}</p> -->
                                        <div v-html="item.desc"></div> 
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="blue" round>
                                            <v-icon small>link</v-icon>
                                            <a :href="items[carouselIndex].srcLink" target="_blank">{{items[carouselIndex].src}}</a>
                                        </v-btn>
                                    </v-card-actions>
                                </v-carousel-item>
                            </v-carousel>
                        </v-tab-item>
                    </v-tabs>
                </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    components: {
        // 'vue-mathjax': VueMathjax
    },
    data() {
        return {
            // tabs: ['About', 'Related', 'Resources'],
            tabs: ['About'],
            tags: ['JavaScript', 'MVVM', 'Vue.js'],
            carouselIndex: 0,
            results: [{
                    title: " Factorial ",
                    formula: "<math xmlns='http://www.w3.org/1998/Math/MathML'><mi>n</mi><mo>!</mo></math>",
                    desc: 'The result of multiplying a given number of consecutive integers from 1 to the given number. In equations, it is symbolized by an exclamation mark (!). For example, 5! = 1 × 2 × 3 × 4 × 5 = 120',
                    more: true,
                    example: [{
                        eg: " Gamma Function",
                        egLink: "https://proofwiki.org/wiki/Definition:Gamma_Function"
                    }, {
                        eg: "Rising Factorial",
                        egLink: "https://proofwiki.org/wiki/Definition:Rising_Factorial"
                    }, {
                        eg: "Falling Factorial",
                        egLink: "https://proofwiki.org/wiki/Definition:Falling_Factorial"
                    }],
                    show: false,
                    srcLink: "https://en.wiktionary.org/wiki/factorial"
                },
                {
                    title: " Pythagorean Equation ",
                    formula: "<math xmlns=\"http://www.w3.org/1998/Math/MathML\"><msup><mi>c</mi><mrow class=\"MJX-TeXAtom-ORD\"><mn>2</mn></mrow></msup><mo>=</mo><msup><mi>a</mi><mrow class=\"MJX-TeXAtom-ORD\"><mn>2</mn></mrow></msup><mo>+</mo><msup><mi>b</mi><mrow class=\"MJX-TeXAtom-ORD\"><mn>2</mn></mrow></msup</math>",
                    desc: 'A mathematical theorem which states that the square of the length of the hypotenuse of a right triangle is equal to the sum of the squares of those of the two other sides.',
                    show: false,
                    more: false,
                    srcLink: "https://en.wiktionary.org/wiki/Pythagorean_theorem"
                },
                {
                    "item": "http://www.wikidata.org/entity/Q2079672",
                    "title": "Wiener–Hopf method",
                    "formula": "<math xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"block\" alttext=\"{\\displaystyle \\Phi _{+}(\\alpha )={\\frac {1}{2\\pi i}}\\int _{C_{1}}\\Phi (z){\\frac {dz}{z-\\alpha }}}\">\n  <semantics>\n    <mrow class=\"MJX-TeXAtom-ORD\">\n      <mstyle displaystyle=\"true\" scriptlevel=\"0\">\n        <msub>\n          <mi mathvariant=\"normal\">&#x03A6;<!-- Φ --></mi>\n          <mrow class=\"MJX-TeXAtom-ORD\">\n            <mo>+</mo>\n          </mrow>\n        </msub>\n        <mo stretchy=\"false\">(</mo>\n        <mi>&#x03B1;<!-- α --></mi>\n        <mo stretchy=\"false\">)</mo>\n        <mo>=</mo>\n        <mrow class=\"MJX-TeXAtom-ORD\">\n          <mfrac>\n            <mn>1</mn>\n            <mrow>\n              <mn>2</mn>\n              <mi>&#x03C0;<!-- π --></mi>\n              <mi>i</mi>\n            </mrow>\n          </mfrac>\n        </mrow>\n        <msub>\n          <mo>&#x222B;<!-- ∫ --></mo>\n          <mrow class=\"MJX-TeXAtom-ORD\">\n            <msub>\n              <mi>C</mi>\n              <mrow class=\"MJX-TeXAtom-ORD\">\n                <mn>1</mn>\n              </mrow>\n            </msub>\n          </mrow>\n        </msub>\n        <mi mathvariant=\"normal\">&#x03A6;<!-- Φ --></mi>\n        <mo stretchy=\"false\">(</mo>\n        <mi>z</mi>\n        <mo stretchy=\"false\">)</mo>\n        <mrow class=\"MJX-TeXAtom-ORD\">\n          <mfrac>\n            <mrow>\n              <mi>d</mi>\n              <mi>z</mi>\n            </mrow>\n            <mrow>\n              <mi>z</mi>\n              <mo>&#x2212;<!-- − --></mo>\n              <mi>&#x03B1;<!-- α --></mi>\n            </mrow>\n          </mfrac>\n        </mrow>\n      </mstyle>\n    </mrow>\n    <annotation encoding=\"application/x-tex\">{\\displaystyle \\Phi _{+}(\\alpha )={\\frac {1}{2\\pi i}}\\int _{C_{1}}\\Phi (z){\\frac {dz}{z-\\alpha }}}</annotation>\n  </semantics>\n</math>"
                }
            ],
            data: "<math xmlns=\"http://www.w3.org/1998/Math/MathML\"><msup><mi>c</mi><mrow class=\"MJX-TeXAtom-ORD\"><mn>2</mn></mrow></msup><mo>=</mo><msup><mi>a</mi><mrow class=\"MJX-TeXAtom-ORD\"><mn>2</mn></mrow></msup><mo>+</mo><msup><mi>b</mi><mrow class=\"MJX-TeXAtom-ORD\"><mn>2</mn></mrow></msup</math>",
            mathML: " \"<math xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"block\"><semantics><mrow class=\"MJX-TeXAtom-ORD\"><mstyle displaystyle=\"true\" scriptlevel=\"0\"><mi>H</mi><mo stretchy=\"false\">(</mo><mi>t</mi><mo stretchy=\"false\">)</mo><mo>=</mo><mrow class=\"MJX-TeXAtom-ORD\"><mfrac><mrow><mrow class=\"MJX-TeXAtom-ORD\"><mrow class=\"MJX-TeXAtom-ORD\"><mover><mi>a</mi><mo>˙</mo></mover></mrow></mrow><mo stretchy=\"false\">(</mo><mi>t</mi><mo stretchy=\"false\">)</mo></mrow><mrow><mi>a</mi><mo stretchy=\"false\">(</mo><mi>t</mi><mo stretchy=\"false\">)</mo></mrow></mfrac></mrow></mstyle></mrow></semantics></math>\"",
            items: [{
                    desc: 'A mathematical theorem which states that the square of the length of the hypotenuse of a right triangle is equal to the sum of the squares of those of the two other sides.',
                    src: " Wikitionary",
                    srcLink: "https://en.wiktionary.org/wiki/Pythagorean_theorem"

                },
                {
                    desc: "The Pythagorean equation is the Diophantine equation:<math xmlns=\"http://www.w3.org/1998/Math/MathML\"><msup><mi>x</mi><mn>2</mn></msup><mo>+</mo><msup><mi>y</mi><mn>2</mn></msup><mo>=</mo><msup><mi>z</mi><mn>2</mn></msup></math> where <math xmlns=\"http://www.w3.org/1998/Math/MathML\"><mi>x</mi><mo>,</mo><mi>y</mi><mo>,</mo><mi>z</mi></math> are integers such that  <math xmlns=\"http://www.w3.org/1998/Math/MathML\"><mi>x</mi><mo>,</mo><mi>y</mi><mo>,</mo><mi>z</mi><mo>&gt;</mo><mn>0</mn></math>.",
                    src: " Proof Wiki",
                    srcLink: "https://proofwiki.org/wiki/Definition:Pythagorean_Equation"
                }
            ]
        }
    }
}
</script>
<style >
.rounded-card {
    border-radius: 20px;
}

.v-carousel {
    box-shadow: none !important;
    width: 100%
}
.v-btn .v-btn__content .v-icon {
    color: orange;
    font-size: 15px !important;
}
.v-card-title {
    background: #2196f3 !important;
}
.v-card__text {
    padding: 0px !important;
}
.v-chip {
    border: 3px solid #2196f3;
    padding: 4px 12px;
    background-color: #F8F8F8 !important;

}

.title-div {
    width: 100%;
    height: 60%;
    background: #1E88E5 !important;
}
</style>
